body {
                font-family: Arial, Arial, Helvetica, sans-serif;
                background-color: #c7d4f7;
                padding: 1.5rem;
            }

            h1 {
                color: #e2e9ed;
                background-color: #2e2f39;
                padding: 1.5px;
            }

            h2{
                color:#e2e9ed;
                background-color: #2e2f39;
                padding: 1.5px;
            }

            p {
                color:#000000;
                padding-left: 20px;
                padding-right: 20px;
            }

            img{
                float: right;
                border: 2px #ffffff solid; /**controls border width, color, line style **/
                margin: .65rem;
                max-width: 100%;
            }

hr {
    border: 1px solid #2e2f39
}

main {
    border: 4px #1b1f21;
    margin: 2rem;
    margin-top: 0;
    background-color: #e2e9ed;
    max-width: 45rem;
}