
Body {
  background-image: url(../css/websitetest8.jpg);
   background-size: cover;
   background-attachment: fixed;
   background-repeat: none;
 /* background-color: rgb(236, 243, 252); */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*make this auto for other version but still glitchy*/
    margin: 0px;
    min-height:100vh;
}



/*HEADER and BACKGROUND*/
header {
    display: grid;
    grid-template-columns: 16fr 14fr;
    grid-template-rows:  1fr;
    background-color:rgba(32, 31, 31, 0.596);
    max-width: 100vw;
     justify-content: center;
  /*  border: red 3px dotted;*/
}



hr {
    border: .3px solid black;
    margin: 0;
    width:auto;

}

/*STUFF IN THIS SECTION IS THE NAV BAR*/
#MarlieTitle {
    display: grid;
    grid-row: 1/2;
    grid-column: 1/2;
    place-items: center;
     font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 400px;
    font-style: normal;
    font-size: 35px;
    letter-spacing: 25px;
    text-align: left;
    padding: 1rem;
    padding-left: 3rem;
    color: rgb(255, 250, 253);
}


#navbar {
    display:grid;
     grid-row: 1/2;
        grid-column: 2/3;
        padding-top: .9rem;
        font-size: 1.5rem;
        margin-top: 1.8rem;
    }


    nav li {
        list-style-type: none;
        margin: 1rem;  
        display: grid;
        grid-row: 1/2;
        grid-column: 2/3; 
        padding: 6px;
    }

    nav a {
        color: rgb(236, 227, 233);
        text-decoration: none; 
        text-align: center;
        padding: 6px;
    }

    nav ul {
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
        padding: 25px;
        margin: 0;
    }

    nav a:hover {
        background: rgb(59, 50, 69);
        color:rgb(152, 238, 172); 
       padding: 6px; /*FOR SOME REASON THIS MAKES IT LIKE SHAKE/MOVE BUT IDK IF I LIKE IT*/
       border-radius: 20%;
}





/*NAV HOVER BUTTON EFFECTS BELOW*/



.aboutbutton {
    transition: transform 0.2s, border-radius 0.2s;
   
}


.aboutbutton:hover {
    transform: scale(1.1);
    border-radius: 20%;
    background: rgb(59, 50, 69);
}



.portfoliobutton {
    transition: transform 0.2s, border-radius 0.2s;
  
}


.portfoliobutton:hover {

    transform: scale(1.1);
    border-radius: 20%;
    background: rgb(59, 50, 69);
}

.resumebutton {
    transition: transform 0.2s, border-radius 0.2s;
   
}

.resumebutton:hover {
    transform: scale(1.1);
    border-radius: 20%;
    background: rgb(59, 50, 69);
}

.contactbutton {
    transition: transform 0.2s, border-radius 0.2s;
   
}

.contactbutton:hover {
    transform: scale(1.1);
    border-radius: 20%;
    background: rgb(59, 50, 69);
}






/*STUFF IN THIS SECTION IS THE BODY CONTENT OF THE ABOUT ME/LANDING PAGE */


.Aboutmecontainer {
    display: flex;
    gap: 30px;
}

#LandingPagePicture {
    display: grid;
    grid-template-columns: .5fr;
    grid-template-rows: .3fr;
     width: fit-content;
     margin: 7rem;
     
}

#AboutMeImageImage {
    grid-row: 1/2;
    grid-column: 1/2;
     height: auto;
    margin-top: 12rem;
    object-fit: cover;
 border: black .3px solid;

}


#LandingPageBody {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: .3fr .3fr;
   gap: 20px;
     width:auto;
    min-height: 100%;
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-right: .2rem;
    padding: 15px;
   /* overflow: hidden;*/
    
}



#LandingPageAboutMeText {
    grid-row: 1/2;
    grid-column: 1/2;
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 400px;
    font-style: normal;
   font-size: 2.5rem;
    letter-spacing: 20px;
    place-items: center;
    align-items: center;
    align-content: center;
     white-space: nowrap;
      padding: .6rem;
      border-bottom: .3px black solid;
      
}

#LandingPageBodyText {
    grid-row: 2/2;
    grid-column: 1/2;
    padding: 1.2rem;
     font-size: 1.2rem;
    align-items: center;
    align-content: center;

}



/*
.Aboutmecontainer {
    display: flex;
    gap: 30px;
}

#LandingPagePicture {
    display: grid;
    grid-template-columns: .5fr;
    grid-template-rows: .3fr;
     width: fit-content;
     height: 100%;
     margin: 7rem;
     
}

#AboutMeImageImage {
    grid-row: 1/2;
    grid-column: 1/2;
     height: auto;
    margin-top: 12rem;
    object-fit: cover;
 border: black .3px solid;

}


#LandingPageBody {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: .3fr .3fr;
    gap: 20px;
     justify-self: end;
     width:auto;
   max-width: 55rem;
    min-height: 100%;
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-right: .2rem;
    padding: 15px;
    overflow: hidden;


    
}



#LandingPageAboutMeText {
    grid-row: 1/2;
    grid-column: 1/2;
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 400px;
    font-style: normal;
    font-size: 40px;
    letter-spacing: 20px;
     text-align: center;
    align-items: center;
    align-content: center;
     white-space: nowrap;
      padding: .6rem;
      border-bottom: .3px black solid;
      
}

#LandingPageBodyText {
    grid-row: 2/2;
    grid-column: 1/2;
     padding: 1.2rem;
     font-size: 20px;
    align-items: center;
    align-content: center;

}*/



#AboutMeImageImage {
   
      width: 300px;
      margin-top: 12rem;
}


/*STUFF IN THIS SECTION IS FOR THE RESUME PAGE */

#ResumePageBody {
     display: grid;
    grid-template-columns: minmax(0, 2fr);
    grid-template-rows: 8rem .5fr .5fr .5fr .5fr;
    gap: 20px;
    width:fit-content;
    height: fit-content;
   /* background-color: rgba(235, 233, 251, 0.6); maybe ts color hmm */
    
    max-width: 60rem;
    min-height: 100;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
   
}


#ResumePageResumeText {
    display: grid;
  grid-row: 1/2;
  grid-column: 1/2;
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 400px;
    font-style: normal;
    font-size: 40px;
    letter-spacing: 20px;
    text-align: center;
    align-items: center;
    align-content: center;
     white-space: nowrap;
   /*  border: .3px black solid;*/
     padding: 1rem;
      border: .3px rgb(0, 0, 0) solid;
      background-color: rgba(239, 219, 254, 0.4);
}

#ResumeEducationBody {
    grid-row: 2/3;
    grid-column: 1/2;
    align-content: start;
    border: .3px rgb(0, 0, 0) solid;
    padding: 1.2rem;
    background-color: rgba(239, 219, 254, 0.4);
    
}

#ResumeCourseworkAndProjectsBody {
    grid-row: 3/4;
    grid-column: 1/2;
    align-content: start;
    border: .3px rgb(0, 0, 0) solid;
      padding: 1.2rem;
      background-color: rgba(239, 219, 254, 0.4);
}

#ResumeSoftwareKnowledgeBody {
   grid-row: 4/5;
   grid-column: 1/2;
    align-content: start;
     border: .3px rgb(0, 0, 0) solid;
       padding: 1.2rem;
       background-color: rgba(239, 219, 254, 0.4);
}

#ResumeEmploymentExperienceBody {
   grid-row: 5/6;
   grid-column: 1/2;
    align-content: start;
    padding: 4px;
     border: .3px rgb(0, 0, 0) solid;
       padding: 1.2rem;
       background-color: rgba(239, 219, 254, 0.4);
}

#ResumeFooter {
     /*REMINDER TO ADD ALT TEXT HERE ON THE HTML PAGE*/
    text-align: center;
    padding: 20px;
     border: .3px rgb(0, 0, 0) solid;
     background-color: rgba(239, 219, 254, 0.4);
}



/*STUFF IN THIS SECTION IS THE PORTFOLIO LANDING PAGE */


.PortfolioLandingPageText {
    display: grid;
    grid-template-columns: 30rem 30rem;
    grid-template-rows: 20rem; 
    gap: 50px;
    max-width: 1000px;
    margin: auto;
   margin-top: 90px;
    white-space-collapse: collapse;

}


#GraphicDesignText {
    
    grid-row: 1/2;
    grid-column: 1/2;
   padding: 5rem;
    margin-top: 3rem;
    text-align: center;
   width: 16rem;
   place-self: center;
    border: .3px rgb(0, 0, 0) solid;
    
     background-image: url(../css/graphicportfoliobw.jpg);
  background-size: 100%;
     background-repeat: none;
     background-position: center;
      transition: transform 0.2s;
}

#GraphicDesignactualtext {
     background-color: rgba(255, 255, 255, 0.884);
    border: .3px solid black;
  place-items: center;
  place-content: center;
    padding: 0;
    margin: 0;
 

}


#GraphicDesignactualtext:hover {
       background: rgb(59, 50, 69);
     transition: transform .2s;
      transform: scale(1.07);

}



#GraphicDesignactualtext a:hover {
        color:rgb(152, 238, 172); 
}


#GraphicDesignactualtext a:visited {
    color: none;
}

#GraphicDesignText:hover {
 transform: scale(1.1);
   background-image: url(../css/graphicportfoliocolor.jpg);
   
}







#CharacterDesignText {
    
     grid-row: 2/1;
     grid-column: 2/3;
     width: fit-content;
    padding: 5rem;
      margin-top: 3rem;
      text-align: center;
    width: 16rem;
  place-self: center;
   border:.3px rgb(0, 0, 0) solid;
    
     background-image: url(../css/characterportbw.jpg);
     background-size: 100%;
     background-repeat: none;
     background-position: center;
      transition: transform 0.2s;
  
}



#CharacterDesignactualtext {
    background-color: rgba(255, 255, 255, 0.884);
    border: .3px solid black;
  place-items: center;
  place-content: center;
    padding: 0;
    margin: 0;
}

#CharacterDesignactualtext:hover {
     background: rgb(59, 50, 69);
     transition: transform .2s;
      transform: scale(1.07);

}

#CharacterDesignactualtext a:hover {
    color:rgb(152, 238, 172); 

}

#CharacterDesignactualtext a:visited {
    color: none;
}



#CharacterDesignText:hover {
    transform: scale(1.1);
    background-image: url(../css/characterportcolor.jpg);
}







a:link {
    text-decoration: none;
}

a:hover {
    color: none;
}

a:visited {
    color:none;
}

a:active {
    color:rgb(221, 235, 250); 
}










/*STUFF IN THIS SECTION IS FOR THE FLYERES AND ADS */

#FlyersandAdsText {
  align-items: center;
         text-align: center;
    align-content: center;
    place-items: center;
     background-color:rgba(246, 245, 245, 0.515);
      font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 400px;
    font-style: normal;
    font-size: 25px;
    letter-spacing: 20px;
    margin-top: 3rem;
    padding: 15px;
     background-color: rgba(7, 7, 7, 0.812);
     color:white;
}

#FlyersandAdsExamples {

display: grid;
    grid-template-columns: .5fr .5fr;
     grid-template-rows: .3fr .3fr;
    gap: 6px;
    margin: 3rem;
   max-width: 90rem;
    min-height: 100%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    gap: 3px;
}

#GraphicExampleOne {
grid-row: 1/2;
grid-column: 1/2;
     align-items: center;
         text-align: center;
    align-content: center;
    place-items: center;
    width: 100%;
  height: 100%;
  object-fit: cover;

}

#GraphicExampleTwo {
grid-row: 1/1;
grid-column: 2/3;
     align-items: center;
         text-align: center;
    align-content: center;
    place-items: center;
     width: 100%;
  height: 100%;
  object-fit: cover;

}

#GraphicExampleThree {
    grid-row: 2/3;
    grid-column: 1/2;
     align-items: center;
         text-align: center;
    align-content: center;
    place-items: center;
    width: 100%;
  height: 100%;
  object-fit: cover;

}

#GraphicExampleFour {
    grid-row: 2/2;
    grid-column: 2/3;
     align-items: center;
         text-align: center;
    align-content: center;
    place-items: center;
    width: 100%;
  height: 100%;
  object-fit: cover;

}


/*STUFF IN THIS SECTION IS FOR BOOK DESIGN AND INTERIOR */
    #BookCoversandInteriorsText {
    align-items: center;
    text-align: center;
    align-content: center;
    place-items: center;
     background-color:rgba(246, 245, 245, 0.515);
      font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 400px;
    font-style: normal;
    font-size: 25px;
    letter-spacing: 20px;
    margin-top: 3rem;
    padding: 15px;
    background-color: rgba(7, 7, 7, 0.812);
     color:white;
    object-fit: cover;
    }

    #BookCoversandInteriorsExamples {
        display: grid;
        grid-template-columns: .5fr;
        grid-template-rows: .3fr .3fr;
        gap: 6px;
        justify-items: center;
        align-items: center;
        place-items: center;
        place-self: center;
   max-width: 90rem;
    min-height: 100%;
    margin-top: 3rem;
    
    
  

    }


    #BookExampleOne {  
        grid-row: 1/2;
        grid-column: 1/2;
        align-items: center;
         text-align: center;
     align-content: center;
   
    }

   


    #BookExampleTwo {
      grid-row: 2/3;
      grid-column: 1/2;
        align-items: center;
         text-align: center;
        align-content: center;
         place-items: center;
         margin-top: 3rem;

    }


    figcaption {
        margin-top: .8rem;
    }

/*STUFF IN HERE FOR THE CONCEPT ART */

/*#conceptarth2 {
    align-items: center;
         text-align: center;
    align-content: center;
    place-items: center;
     background-color:rgba(246, 245, 245, 0.515);
      font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 400px;
    font-style: normal;
    font-size: 25px;
    letter-spacing: 50px;
    margin-top: 3rem;
    padding: 15px;
     background-color: rgba(7, 7, 7, 0.812);
     color:white;
}
*/







/*STUFF IN HERE FOR THE RENDERS */

.characterrendercontainer {   /*these are long so maybe add like a horizontal scroll bar/arrow?? if i have time lol */
    display: grid;
  grid-template-columns: .5fr .5fr .5fr;
  grid-template-rows: .3fr .3fr;

  justify-items: center;
  align-items: center;
  place-items: center;
    max-width: 90rem;
    min-height: 100%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    gap: 8px;
}



#characterdesignh2 {
    align-items: center;
         text-align: center;
    align-content: center;
    place-items: center;
     background-color:rgba(246, 245, 245, 0.515);
      font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 400px;
    font-style: normal;
    font-size: 25px;
    letter-spacing: 20px;
    margin-top: 3rem;
    padding: 15px;
     background-color: rgba(7, 7, 7, 0.812);
     color:white;
}







#render1 {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: rgba(37, 37, 37, 0.479);
    border: .3px black solid;
}

#render2 {
    grid-row: 1/2;
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: rgba(37, 37, 37, 0.479);
    border: .3px black solid;
}

#render3 {
    grid-row: 1/2;
    grid-column: 3/4;
    width: 100%;
    height: 100%;
    object-fit: cover;
      background-color: rgba(37, 37, 37, 0.479);
    border: .3px black solid;
}

#render4 {
    grid-row: 2/3;
    grid-column: 1/2;
    width: 100%;
    height: 100%;
    object-fit: cover;
      background-color: rgba(37, 37, 37, 0.479);
    border: .3px black solid;
}

#render5 {
    grid-row: 2/3;
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    object-fit: cover;
      background-color: rgba(37, 37, 37, 0.479);
    border: .3px black solid;
}

#render6 {
    grid-row: 2/3;
    grid-column: 3/4;
    width: 100%;
    height: 100%;
    object-fit: cover;
      background-color: rgba(37, 37, 37, 0.479);
    border: .3px black solid;
}





/*STUFF IN THIS SECTION FOR THE FANART */

#fanh2 {
    align-items: center;
         text-align: center;
    align-content: center;
    place-items: center;
     background-color:rgba(246, 245, 245, 0.515);
      font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 400px;
    font-style: normal;
    font-size: 25px;
    letter-spacing: 20px;
    margin-top: 3rem;
    padding: 15px;
     background-color: rgba(7, 7, 7, 0.812);
     color:white;
}








 .FanartImages {
  display: grid;
  grid-template-columns: .5fr .5fr .5fr;
  grid-template-rows: .3fr .3fr;
  justify-items: center;
  align-items: center;
  place-items: center;
    max-width: 90rem;
    min-height: 100%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    gap: 8px;
}


#image1 {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: .3px black solid;
}

#image2 {
    grid-row: 1/2;
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: .3px black solid;
}

#image3 {
    grid-row: 1/2;
    grid-column: 3/4;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: .3px black solid;
}

#image4 {
    grid-row: 2/3;
    grid-column: 1/2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: .3px black solid;
}

#image5 {
    grid-row: 2/3;
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: .3px black solid;
}

#image6 {
    grid-row: 2/3;
    grid-column: 3/4;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: .3px black solid;
}


   /* display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;*/
 
/*STUFF IN TS SECTION IS CONTACT PAGE */

.Contacth2container {
    display: grid;
    grid-template-columns: .3fr .5fr;
    grid-template-rows: .2fr;
    column-gap: 30px;
     max-width: 1000px;
    margin: 0 auto;
      max-width: 1000px;
    min-height: 100%;


}


#Contactimg {
  background-color: aqua;
  grid-row: 1/2;
  grid-column: 1/2;
    align-self: center;
    border: .3px solid black;
  object-fit: contain;
  margin: 3rem;
    margin-top: 8rem;
    width: 300px;
}


#contactbody {
    margin-top: 6rem;
    margin-left: 4rem;
}


#Contacth2 {
    grid-row: 1/2;
    grid-column: 2/3;
     font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 400px;
    font-style: normal;
    font-size: 40px;
    letter-spacing: 20px;
     text-align: center;
    align-items: center;
    align-content: center;
     white-space: nowrap;
      padding: .6rem;
      padding-left: 2rem;
      border-bottom: .3px black solid;
 
}

#Contactbodytext {
    grid-row: 1/2;
    grid-column: 2/3;
     padding: 1.2rem;
     padding-top: 0;
     font-size: 20px;
    align-items: center;
    align-content: center;
   
  
}


footer {
      background-color:rgba(32, 31, 31, 0.596);
      color: rgb(206, 203, 203);
      border: .3px black solid;
      place-items: center;
      text-align: center;
      margin-top: 3rem;
      padding: 1.5rem;
}


/*

.Contacth2container {
    display: grid;
    grid-template-columns: .3fr .5fr .3fr;
    grid-template-rows: .2fr .2fr;
    column-gap: 30px;
}

#Contacth2 {
    grid-row: 1/2;
    grid-column: 3/4;
     font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 400px;
    font-style: normal;
    font-size: 40px;
    letter-spacing: 20px;
     text-align: center;
    align-items: center;
    align-content: center;
     white-space: nowrap;
      padding: .6rem;
      border-bottom: .3px black solid;
      margin-right: 3rem;
      height: fit-content;
      margin-top: 3rem;
      
}

#Contactbodytext {
    grid-row: 2/3;
    grid-column: 3/4;
     padding: 1.2rem;
     padding-top: 0;
     font-size: 20px;
    align-items: center;
    align-content: center;
    margin-right: 7rem;
    margin-top: 3rem;
  
}


#Contactimg {
   
  grid-area: 1 / 1 / 3 / 3;
    align-self: center;
    border: .3px solid black;
  object-fit: contain;
  margin: 3rem;
    margin-top: 8rem;
    width: 300px;
    
    
    
}
















/*STUFF IN THIS SECTION IS THE BODY CONTENT OF THE ABOUT ME/LANDING PAGE 

.LandingPageBody { 
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 2fr 2fr;
    grid-template-rows: 1fr;
    background-color: rgb(216, 216, 235);
    margin: 3rem;
    padding: 4rem;
    align-content: center;

}


#LandingPageBodyText {
    display: grid;
    font-size: 18px;
    grid-row: 1/2;
    grid-column: 2/5;
    padding: 2rem;
}


#LandingPagePhoto {
    display: flex;
    flex-wrap: wrap;
    grid-row: 1/2;
    grid-column: 5/6;
    max-width: 350px;
    max-height: 400px;
    padding: 2rem;
    
}
*/
